@import '../styles/variables.scss';

.why-choose-us {
  display: flex;
  gap: 73px;
  height: 806px;
  align-items: center;
  padding: 130px 80px;
  width: 100%;

  .why-choose-us-image {
    height: 546px;
    position: relative;
    border-radius: 16px;
    width: 638px;
    overflow: hidden;

    .why-choose-us-img {
      object-fit: cover;
      border-radius: 16px;
      pointer-events: none;
    }
  }

  .why-choose-us-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: flex-start;
    width: 569px;

    .why-choose-us-header {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
      text-transform: capitalize;

      .section-label {
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: normal;
        color: $primary-orange;
        min-width: 100%;
        width: min-content;
        white-space: pre-wrap;
        margin: 0;
      }

      .why-choose-us-title {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: $white;
        margin: 0;
      }
    }

    .why-choose-us-features {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: flex-start;
      width: 100%;

      .why-feature-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        width: 100%;
        padding: 16px 0;

        &.highlighted {
          background: rgba(255, 115, 34, 0.05);
          border-left: 1.5px solid $primary-orange;
          border-radius: 0 8px 8px 0;
          padding: 16px;
        }

        .why-feature-header {
          display: flex;
          gap: 12px;
          align-items: center;
          width: 100%;

          .why-feature-icon {
            width: 32px;
            height: 32px;
            position: relative;
            flex-shrink: 0;
          }

          .why-feature-title {
            font-family: 'Urbanist', sans-serif;
            font-weight: 500;
            font-size: 28px;
            line-height: normal;
            color: $white;
            text-transform: capitalize;
            margin: 0;
          }
        }

        .why-feature-description {
          font-family: 'Urbanist', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #b3b3b3;
          width: 100%;
          white-space: pre-wrap;
          margin: 0;
        }
      }
    }
  }
}

