@import '../styles/variables.scss';

.how-it-works {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 870px;
  align-items: flex-start;
  padding: 65px 80px 130px;
  width: 100%;

  .how-it-works-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    width: 100%;
    text-transform: capitalize;

    .section-label {
      font-family: 'Urbanist', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: normal;
      color: $primary-orange;
      min-width: 100%;
      width: min-content;
      white-space: pre-wrap;
      margin: 0;
    }

    .how-it-works-title {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: $white;
      margin: 0;
    }
  }

  .how-it-works-content {
    display: flex;
    gap: 60px;
    align-items: center;
    width: 100%;

    .how-it-works-steps {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: flex-start;
      width: 570px;

      .step-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        padding: 16px 0;
        width: 100%;

        .step-header {
          display: flex;
          gap: 12px;
          align-items: center;
          font-family: 'Urbanist', sans-serif;
          font-weight: 500;
          font-size: 28px;
          line-height: normal;
          width: 100%;
          text-transform: capitalize;

          .step-number {
            color: $primary-orange;
            margin: 0;
          }

          .step-title {
            color: $white;
            margin: 0;
            font-weight: 500;

            &.step-title-bold {
              font-weight: 600;
            }
          }
        }

        .step-description {
          font-family: 'Urbanist', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #b3b3b3;
          width: 100%;
          white-space: pre-wrap;
          margin: 0;
        }
      }
    }

    .how-it-works-image {
      height: 458px;
      position: relative;
      border-radius: 16px;
      width: 650px;
      overflow: hidden;

      .how-it-works-img {
        object-fit: cover;
        border-radius: 16px;
        pointer-events: none;
      }
    }
  }
}

