@import "tailwindcss";

:root {
  --background: #0a0400;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.home-page {
  width: 100%;
  background-color: #0a0400;
}
